# dir ignores
_build/
build/
coverage/
ct_*/
deps/
doc/
logs/
.rebar/

# file ignores
all_runs.html
*.beam
^build$
coverage
ct_*
ebin/hamcrest.app.orig
erl_crash.dump
include/hamcrest.hrl
jquery-latest.js
jquery.tablesorter.min.js
*.kpf
mix.lock
*.o
*.pyc
qc.hrl
*.so
*.swp
*.tar
variables-ct@localhost
